<?xml version="1.0"?>
<config>
    <modules>
        <Nano_App>
            <version>0.0.2</version>
        </Nano_App>
    </modules>
    <frontend>
        <routers>
            <Nano_App>
                <use>standard</use>
                <args>
                    <module>Nano_App</module>
                    <frontName>app</frontName>
                 </args>
            </Nano_App>
        </routers>
    </frontend>
    <global>
        <rewrite>
         <Nano_App>
              <from><![CDATA[#^/customer/account/loginPost/#]]></from>
              <to>/app/customer/account/loginPost/</to>
          </Nano_App>
      </rewrite>
        <helpers>
            <nano_app>
                <class>Nano_App_Helper</class>
            </nano_app>
        </helpers>
        <models>
          <app> 
              <class>Nano_App_Model</class>
              <resourceModel>app_mysql4</resourceModel> 
          </app>
          <app_mysql4>
              <class>Nano_App_Model_Resource_Mysql4</class>
              <entities>
                  <user>
                     <table>user_account</table>
                  </user>
              </entities> 
         </app_mysql4>
        </models>
        <resources>
          <app_setup>
            <setup>
              <module>Nano_App</module>
              <class>Nano_App_Model_Setup_Mysql4_Setup</class>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
          </app_setup>
          <app_write>
            <connection>
              <use>default_write</use>
            </connection>
          </app_write>
          <app_read>
            <connection>
              <use>default_read</use>
            </connection>
          </app_read>
        </resources>
    </global>
    <default>
          <app_options>
              <app_setting>
                  <user_name>老王</user_name>
                  <pass_word>laowang</pass_word>
              </app_setting>
          </app_options>
    </default>
</config>
